{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>EasySoft</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="/media/logo/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Our Expertise</a></li>
          {% comment %} <li><a href="#team">Team</a></li> {% endcomment %}
          {% comment %} <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> {% endcomment %}
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header>
  <!-- #header -->
   <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/media/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We provide<br><span>best solutions</span><br>for your business!</h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Contact Us</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
    <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>EasySoft gives you the most effective affordable website as per your industry standard. These websites are responsive, readable, highly intuitive, and promise the simplest customer experience online.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            {% comment %} <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p> {% endcomment %}

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Business Solution</a></h4>
              <p class="description">We expect to form your online business experience smooth, rapid and proficient.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Technical Solution</a></h4>
              <p class="description">Once the site is ready we will demo it for you. Once approved, we run it through our various quality checks to ensure it's flawless. Finally, we take it LIVE on the domain of your choice</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Teem</a></h4>
              <p class="description">We have a good teem to fulfill all requirement with less time. We delivered hundred's of successful project.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="media/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="/media/img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>websites Development and Designing</h4>
            <p>
              Our experts start coding, adding your text, images and logos to the design you selected. And if inspiration strikes while your site is being built, you can even get another consultation, per your plan.
            </p>
            <p>
              Have good team to develope any types of websites like (Bloging, Ecomerse, Travel, Medical ...) 
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="/media/img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Why choose us.</h4>
            <p>
            Educate our specialists concerning your business and what you wish from your site during a telephone counsel. From that time, pick your design from our immense library of expert, industry-significant themes, share your substance and that we visit work. Now getting your business online has become too easy.
            </p>
            <p>
               Once the location is prepared we are going to demo it for you. Once approved, we run it through our various quality checks to make sure it's flawless. Finally, we take it survive the domain of your choice. you can even get another consultation, per your plan.
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>Here are some awasome features providing by us.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              {% comment %} <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div> {% endcomment %}
              <img src='/media/services/AI.jpg' style="width: 365px; height: 205px;" ><br><hr>
              <h4 class="title"><a href="">Artificial intelligence</a></h4><hr>
              <p class="description">EasySoft has delivered multiple applications associated with Computer Vision and Artificial Inteligence. Which is help to fulfill the real-time use case and helped to attain an enhanced and more efficient Technology system. We Coexist with you existing solutions to avoid duplicate effort and save investments. Have an honest experience to complete ArtificialInteligence and Machine Learning based projects.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              {% comment %} <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div> {% endcomment %}
               <img src='/media/services/web.png' style="width: 365px; height: 205px;" ><br><hr>
              <h4 class="title"><a href="">Website Development</a></h4><hr>
              <p class="description">We make sure that every page of the web site is accessible from the menu navigation within some clicks. Pages which visitors cannot reach are of no use. Well, technically you lose nearly 30% of your users whether or not your website takes an extra one second to load. Therefore, we offer an ideal amalgamation of current trends together with bug free coding to confirm eye-grabbing user experiences for maximizing conversions.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              {% comment %} <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div> {% endcomment %}
              <img src='/media/services/Mobile-App.png' style="width: 365px; height: 205px;" ><br><hr>
              <h4 class="title"><a href="">Mobile Apps Development</a></h4><hr>
              <p class="description">We do end to end development of your android and IOS applications, It also helps in the growth of your business, Its important to build effective user experiences as it helps in customer retention. We also build apps on cross-platforms like React-Native.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              {% comment %} <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div> {% endcomment %}
              <img src='/media/services/Digital-Marketing.jpg' style="width: 365px; height: 205px;" ><br><hr>
              <h4 class="title"><a href="">Digital Marketing</a></h4><hr>
              <p class="description">The world could be a digital forum and to achieve a bigger a part of the audience before anyone else does is indeed tough. We concentrate on content, display and graphics, optimise on targeted mediums to produce you with total complete solution. We concentrate on the long-term development of your brand.</p>
            </div>
          </div>

          {% comment %} <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div> {% endcomment %}

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>Because we successful delivered more than hundred of project. And have 93 client who belive our services.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Website Development</h5>
                <p class="card-text">We deliver more than 60 of website.</p>
                {% comment %} <a href="#" class="readmore">Read more </a> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Mobile Apps Development</h5>
                <p class="card-text">We deliver more than 20 of mobile applications.</p>
                {% comment %} <a href="#" class="readmore">Read more </a> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Digital Marketing</h5>
                <p class="card-text">Currently we are working in 6 Digital Marketing project. </p>
                {% comment %} <a href="#" class="readmore">Read more </a> {% endcomment %}
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">93</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">103</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">24</span>
            <p>Hour Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">17</span>
            <p>Employees</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Expertise</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Frontend</li>
              <li data-filter=".filter-card">Backend</li>
              <li data-filter=".filter-web">Artificial Inteligence</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/media/services/AI.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Artificial Inteligence</a></h4>
                <p>AI</p>
                <div>
                  <a target='_blank' data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          {% comment %} <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="/media/services/ios.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">IOS</a></h4>
                <p>IOS</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="/media/services/flask.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Flask</a></h4>
                <p>Flask</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="/media/services/django.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Django</a></h4>
                <p>Django</p>
                <div>
                  <a  class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/media/services/ml.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Machine Learning</a></h4>
                <p>Machine Learning</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="/media/services/js.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Java Script</a></h4>
                <p>Java Script</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="/media/services/html.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Html 5</a></h4>
                <p>Html</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/media/services/python.png" style='height:200px' class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Python</a></h4>
                <p>Python</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="/media/services/react.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">React</a></h4>
                <p>React</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="/media/services/ds.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Data Sciense</a></h4>
                <p>Data Sciense</p>
                <div>
                  <a class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Technology</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="/media/tech/ai.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/html.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/css.jpg" class="testimonial-img" alt="">
                 <img src="/media/tech/py.jpg" class="testimonial-img" alt="">
              </div>

               <div class="testimonial-item">
                <img src="/media/tech/an.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/ds.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/dj.jpg" class="testimonial-img" alt="">
                 <img src="/media/tech/js.jpg" class="testimonial-img" alt="">
              </div>

              <div class="testimonial-item">
                <img src="/media/tech/ml.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/react.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/reactnative.jpg" class="testimonial-img" alt="">
                 <img src="/media/tech/my.jpg" class="testimonial-img" alt="">
              </div>

              <div class="testimonial-item">
                <img src="/media/tech/linux.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/psql.jpg" class="testimonial-img" alt="">
                <img src="/media/tech/mongo.jpg" class="testimonial-img" alt="">
                 <img src="/media/tech/java.jpg" class="testimonial-img" alt="">
              </div>
    
              {% comment %} <div class="testimonial-item">
                <img src="/media/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div>

            </div>

          </div> {% endcomment %}
        </div>


      </div>
    </section><!-- #testimonials -->

 

    <!--==========================
      Clients Section
    ============================-->
    {% comment %} <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our Products</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="/media/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section> {% endcomment %}

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14026.176368577702!2d77.40210922207203!3d28.49327357823879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce85b1d3a5d5d%3A0x1a500b55ee459de9!2sSector%20168%2C%20Noida%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1604764669171!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Sector 168, Noida, U.P., India</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>info@example.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+1 5589 55488 55</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="/submitsuccess" method="post" role="form" class="contactForm">
              {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="number" id="number" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter phone number" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><input type="submit" class='btn btn-primary' title="Send Message" /></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>EasySoft</h3>
            <p>EasySoft gives you the most effective affordable website as per your industry standard. These websites are responsive, readable, highly intuitive, and promise the simplest customer experience online.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
             Sector 168 <br>
              Noida, U.P.<br>
              India <br>
              {% comment %} <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br> {% endcomment %}
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Technology We Uses</h4>
            <ul>
              <li><a>Artificial Intelligence</a></li>
              <li><a>Machine Learning</a></li>
              <li><a>React JS</a></li>
              <li><a>Web Application</a></li>
              <li><a>Mobile Application Development</a></li>
              {% comment %} <i class="fab fa-whatsapp"></i> {% endcomment %}
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>EasySoft</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">EasySoft</a>
      </div>
    </div>
  </footer><!-- #footer -->
  <a onclick="window.open('https://wa.me/918799501143?text=Hello','_blank');return false;" target="_blank" class="float"><i class="fa fa-whatsapp my-float"></i></a>
  {% comment %} <i class="fa fa-whatsapp my-float"></i> {% endcomment %}
{% endblock %}